@import "../../styles/variables.scss";

.full-img-container {
    overflow: hidden;

    h1 {
        position: absolute; 
        top: 100px;
        right: 0px;
        background: rgba(255,255,255,0.6);
        color: #0c0c0c;
        padding: 0.4em 1em 0.4em 2em;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .team-img {
        max-width: 100%;
    }
}

.teammembers {
    h2 {
        padding: 1em 2em;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
}
.member {
    // display: flex;
    padding: 1em 2em 1em 2em;
    overflow: auto;
    border-bottom: 1px solid $primaryColor;
    .img-wrapper {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        float: left; 
        margin: 0 1.5em 1em 0;

        @media screen and (max-width: $break-small) {
            float: none;
        }

    }
    .member-content {

        padding: 0em 2em;

        .title-span {
            font-style: italic;
            font-size: 0.9em;
            font-weight: normal;
            color: $primaryColorDark;
        }
        // display: inline-block;
    }
}