@import "../../styles/variables.scss";

.full-img-container {
    overflow: hidden;

    h1 {
        position: absolute; 
        top: 100px;
        right: 0px;
        background: rgba(255,255,255,0.6);
        color: #0c0c0c;
        padding: 0.4em 1em 0.4em 2em;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .team-img {
        max-width: 100%;
    }
}

.teammembers {
    h2 {
        padding: 1em 2em;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.member:last-child {
    border-bottom: none;
}
.member {
    // display: flex;
    padding: 1em 2em 1em 2em;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $break-small) {
        padding-bottom: 2em;
    }

    border-bottom: 1px solid $primaryColor;
    .img-wrapper {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        float: left; 
        margin: 0 1.5em 1em 0;

        @media screen and (max-width: $break-small) {
            float: none;
            margin-left: 2em;
        }

    }

    .second-img-wrapper {
        position: absolute;
        right: 0;
        height: 100%;
        border-top-left-radius: 100%;
        width: 33%;
        top: 0;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
    }

    .member-content {
        position: relative;
        padding: 0em 2em;

        p {
            line-height: 22px;
        }

        .title-span {
            font-style: italic;
            font-size: 0.9em;
            font-weight: normal;
            color: $primaryColorDark;
        }
        // display: inline-block;
    }
}


.tic-overlay {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
}
.tilted-image-container {
    @media screen and (max-width: $break-small){
        display: none;
    }
    position: absolute;
    // width: 35%;
    right: -130px;
    top: 0;
    z-index: -2;
    transform: skewX(-43.64deg);
    height: 200px;
    width: 400px;
    overflow: hidden;
    
    img {
        width: 100%;
        transform: skewX(43.64deg);

    }
}
// .pageOption {
//     position: absolute;
//     height: 27em;
//     padding-top: 10%;
//     z-index: -1;
//     width: 40em;
// }

// .optionCover {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: rgba(255,255,255,0.7);
//     z-index: 0;
// }


// TRY

// .pageOption {
//   overflow: hidden;
// }
// .option, .option img { width: 100%; height: 100%; }
// .option {
//   overflow: hidden;
//   position: absolute;  
//   /* arctan(27 / 40) = 34.01935deg 
//    * need to skew by 90deg - 34.01935deg = 55.98065deg
//   */
//   transform: skewX(-55.98deg);
// }
// .option:first-child {
//   left: -.25em;
//   transform-origin: 100% 0;
// }
// .option:last-child {
//   right: -.25em;
//   transform-origin: 0 100%;
// }
// .option img {
//   transform: skewX(55.98deg);
//   transform-origin: inherit;
// }