<div id="team" *ngIf="dataService.data">
    <div class="full-img-container" [style.backgroundImage]="'url(' + dataService.data.team.teamImg + ')'">
        <h1>Best Team in the World</h1>
    </div>
    <div class="teammembers ut-content-container">
        <h2> Team Mitglieder </h2>
        <ul>
            <li *ngFor="let member of dataService.data.team.members" class="member">
                <div class="img-wrapper" [style.backgroundImage]="'url(' + member.img + ')'">
                    <!-- <img [src]="member.img"> -->
                </div>
                <div class="member-content">
                    <h3>{{member.name}} <span class="title-span">{{member.title}}</span></h3>
                    <p>{{member.desc}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>