<nav>
    <div  *ngIf="dataService.data" class="nav-left hidden-sm" routerLink="" [style.backgroundImage]="'url(' + dataService.data.nav.logo + ')'"></div>
    <div *ngIf="dataService.data" class="nav-left-mobile hidden-md" routerLink="" [style.backgroundImage]="'url(' + dataService.data.nav.mobileLogo + ')'"></div>
    <div class="nav-right">
        <ul>
            <li><a routerLink="team" [routerLinkActive]="['active']">Team</a></li>
            <li><a routerLink="publications" [routerLinkActive]="['active']">Veröffentlichungen</a></li>
        </ul>
    </div>
</nav>