<div id="home-container" *ngIf="dataService.data" [@fadeInOut]="dataService.data">
    
    <div class="full-img-container img-container" [style.backgroundImage]="'url(' + dataService.data.startpage.topImg + ')'">
        <!-- <img class="top-img" [src]="dataService.data.startpage.topImg"> -->
        <div class="title"><h1>{{dataService.data.startpage.title}}</h1></div>
        <div class="subtitle"><h2>{{dataService.data.startpage.subtitle}}</h2></div>
    </div>
    
    <div class="ut-content-container">
        <div class="wrapper">
            <div class="ut-content content">
                <h2>{{dataService.data.startpage.contentTitle}}</h2>
                <p> {{dataService.data.startpage.content}} </p>
                <div class="product-container">
                    <div class="ut-product" *ngFor="let product of dataService.data.startpage.products">
                        <h2>{{product.title}}</h2>
                        <div class="ut-left-half">
                            <div class="productLoop" *ngFor="let content of product.content; let k = index">
                                <div class="product-text-wrapper" *ngIf="k == product.active" [@fadeInOut]="k == product.active">
                                    <h3>{{content.title}}</h3>
                                    <p class="product-text" [innerHtml]="content.text"></p>
                                    <p class="fade more-info">Bald mehr Infos hier!</p>
                                </div>
                            </div>
                        </div>
                        <div class="ut-right-half">
                            <ng-container *ngFor="let content of product.content; let k = index">
                                <div *ngIf="k == product.active" class="slideshow-img"  [style.backgroundImage]="'url(' + content.img + ')'" [@slideInOut]="k==product.active">
                                </div>
                            </ng-container>
                        </div>
                        <div class="product-nav">
                            <div class="product-nav-item" *ngFor="let content of product.content; let k = index" [class.active]="k == product.active" (click)="product.active = k" title="{{content.title}}"></div>
                        </div>
                    </div>
                </div>

                <!-- <ul>
                    <li *ngFor="let box of dataService.data.startpage.contentBox" class="container">
                        <div class="box">
                            <div class="box-inlay">
                                <h3>{{box.title}}</h3>
                            </div>
                            <div class="box-overlay">{{box.content}} <p>Erfahre bald mehr!</p></div>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

    <div class="full-img-container img-container bot-img" [style.backgroundImage]="'url(' + dataService.data.startpage.botImg + ')'">
        <!-- <img class="bot-img" [src]="dataService.data.startpage.botImg"> -->
    </div>

</div>
