@import '../../styles/variables.scss';

.top-img, .bot-img {
    max-width: 100%;
}

.img-container {
    position: relative;
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

    @media screen and (min-width: $break-medium) {
        min-height: 700px;
    }


}

.title {
    position: absolute; 
    top: 100px;
    left: 0px;
    background: rgba(255,255,255,0.6);
    // color: #0c0c0c;
    padding: 0.4em 1em 0.4em 2em;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subtitle {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    // color: #0c0c0c;
    padding: 0.4em 1em 0.4em 2em;
    width: 100%;
    text-align: center;
    padding: 0;

}

ul {
    list-style: none;
    display: flex;
}
.container {
    // flex-grow: 1;
    text-align: center;
    // display: inline-block;
    height: 200px;
    width: 33%;
    .box {
        // display: inline-block;
        border-radius: 10px;
        border: 1px solid $primaryColor;
        margin: auto;
        max-width: 300px;
        height: 120px;
        position: relative;
        .box-inlay {
            background: white;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
        &:hover {
            .box-overlay {
                height: 100%;
            }
        }
        .box-overlay {
            overflow: hidden;
            position: absolute;
            z-index: 5;
            height: 0;
            top: 0;
            transition: height 0.2s linear;
            width: 100%;
            background-color: rgba(0,0,0,0.5)
        }
    }
}

.ut-content {
    padding: 1em;
}

.ut-product {
    overflow: hidden;
    padding: 1em 0 4em 0;
    h2 {
        color: $primaryColorDark;
        border-bottom: 1px solid #ccc;
        margin-right: 1em;
    }

    .ut-left-half, .ut-right-half {
        height: 300px;
        width: 50%;
        // display: inline-block;
        float: left;
        position: relative;
        // height: 100%;
    }

    .productLoop {
        text-align: center;
        height: 100%;
    }
    .product-text-wrapper {
        position: absolute;
        // top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        padding-bottom: 1.5em;
        margin: auto auto;
        display: inline-block;
        text-align: left;
        max-width: 350px;
        max-height: 160px;
        .product-text {
        }
    }

    .product-text {
        font-style: italic;
    }

    .ut-right-half {
        padding: 2em 0 1em 0;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }

    .ut-left-half{
        // text-align: right;
    }
    
    .slideshow-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        // display: none;
    }

}


.more-info {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
}