<div id="pubs" class="ut-content-container">
    <div class="ut-content-wrapper">
        <h1> Veröffentlichungen </h1>
        <button class="ut-button" [class.active]="showAll == 'all'" (click)="showAll = 'all'">Alle Veröffentlichungen</button>
        <button class="ut-button" [class.active]="showAll == 'thesis'" (click)="showAll = 'thesis'">Thesis</button>
        <div id="price-button"> 
            <button class="ut-button" [class.active]="showAll == 'price'" (click)="showAll = 'price'">Preise</button>
        </div>

    </div>
    <ul *ngIf="dataService.data" class="outside-list">
        <p *ngIf="showAll == 'price'" [@fadeIn]="''">Alle Preise wurden im Rahmen des GI@School Projektes gewonnen.</p>
        <li *ngFor="let year of dataService.data.publications">
            <div *ngFor="let pub of year.pubs | thesis : showAll ; let k = index" [@fadeIn]="''" >

                <ng-container *ngIf="k == 0">
                    <h2>{{year.year}}</h2>
                </ng-container>
                    <ul class="inside-list">
    
                    <li class="pub">
                        <!-- <ng-container *ngIf="showAll || pub.thesis"> -->
                            <h3>{{pub.title}}</h3>
                            <p *ngIf="pub.type"></p>
                            <p class="authors">{{pub.author}} <span class="thesis" *ngIf="pub.type">({{pub.type}})</span></p>
                            <p class="where">{{pub.where}}</p>
                            <p *ngIf="pub.price">Preis: {{pub.price}}</p>

                        <!-- </ng-container> -->
                         <div class="vids" *ngIf="pub.videos">
                                <div class="video-container" *ngFor="let vid of pub.videos" (click)="startVideo(vid.id, $event);">
                                    <img src="https://img.youtube.com/vi/{{vid.id}}/default.jpg">
                                </div>
                        </div>
                    </li>
                </ul>


            </div>
        </li>
    </ul>
</div>

<div id="player-container" [hidden]="!videoService.display">
  <span class="ut-close" (click)="videoService.closeVideo()"><i class="fa fa-times"></i></span>
  <div id="player">
  </div>
</div>
