@import '../../styles/variables.scss';
#pubs {
    padding-top: 70px;
    
    h1 {
        padding-left: 15px;
    }
    h2 {
        padding-bottom: 0.3em;
        color: $primaryColorDark;
        border-bottom: 1px solid $primaryColor;
    }

    h3 {
        margin: 0;
    }

    .pub {
        padding: 0.5em;
    }
    .authors {
        font-style: italic;
    }
}

ul {
    list-style: none;

}

p {
    padding: 0;
    margin: 0;
}