@import '../../styles/variables.scss';
#pubs {
    min-height: calc(100% - 65px);
    padding-top: 70px;
    box-sizing: border-box;

    .ut-content-wrapper {
        padding-left: 15px;
    }
    h2 {
        padding-bottom: 0.3em;
        color: $primaryColorDark;
        border-bottom: 1px solid $primaryColor;
    }

    h3 {
        margin: 0;
    }

    .pub {
        padding: 0.5em;
    }
    .authors {
        font-style: italic;
    }
}

ul {
    list-style: none;
}

.inside-list {
    @media screen and (max-width: $break-small) {
        padding-left: 0px;
    }
}
.outside-list {
    @media screen and (max-width: $break-small) {
        padding-left: 20px;
    }
}

p {
    padding: 0;
    margin: 0;
}