/* You can add global styles to this file, and also import other style files */
@import './app/styles/variables.scss';

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    // overflow-x: hidden;
    font-family: BrixSlab,Helvetica,sans-serif;
    color: $textColor;
}

.ut-content-container {
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
  font-family: BrixSlab;
  src: url(assets/fonts/BrixSlab-Regular.otf);
}
@font-face {
  font-family: BrixSlab;
  font-weight: bold;
  src: url(assets/fonts/BrixSlab-Bold.otf);
}

.fade {
    opacity: 0.6;
    font-size: 0.8em;
}

.ut-button {
    padding: 0.6em 1em;
    background-color: $gray;
    border: 1px solid $textColor;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.8;
    font-weight: bold;


    &.active {
        background-color: $primaryColorLight;
        // color: white;
    }
    &:hover {
        background-color: white;
        color: $primaryColor;
        border-color: $primaryColor;
    }

}

.full-img-container {
    position: relative;
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

    @media screen and (min-width: $break-medium) {
        min-height: 700px;
    }
}